<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="co.yedam.mapper.BoardMapper">
	<!-- 목록 -->
	<select id="boardList" resultType="co.yedam.vo.BoardVO">
 	SELECT *
 	FROM   board_tbl
 	Order by board_no
	</select>
	
	<select id ="boardListPaging" parameterType="co.yedam.vo.SearchVO" 
			resultType="co.yedam.vo.BoardVO">
		select b.*

		from(select rownum rn, a.*
		     from  (select *
		            from board_tbl
		            <where>
		            <choose>
		            	<when test="searchCondition == 'T'.toString()">
		            		title like '%'||#{keyword}||'%' 
		            	</when>
		            	<when test="searchCondition == 'W'.toString()">
		            		writer like '%'||#{keyword}||'%'
		            	</when>
		            	<when test="searchCondition == 'TW'.toString()">
		            		title like '%'||#{keyword}||'%'
		            			or writer like '%'||#{keyword}||'%'
		            	</when>
		            </choose>
		            </where> 
		       		order by board_no desc) a
		     <![CDATA[
		     where rownum <= (#{page} * 5)) b 
		     ]]><!-- 비교연산자 떄문에 이코드에 써줘야됨 -->

		where b.rn > (#{page} - 1) *5
	</select>
	
<select id = "getTotalCnt"  resultType="int" parameterType="co.yedam.vo.SearchVO">
		select count(1)
		from board_tbl
		<where>
			<choose>
	           	<when test="searchCondition == 'T'.toString()">
	           		title like '%'||#{keyword}||'%' 
	           	</when>
	           	<when test="searchCondition == 'W'.toString()">
	           		writer like '%'||#{keyword}||'%'
	           	</when>
	           	<when test="searchCondition == 'TW'.toString()">
	           		title like '%'||#{keyword}||'%'
	           			or writer like '%'||#{keyword}||'%'
	           	</when>
			</choose>
		</where> 
	</select>
	
	<!-- 등록 -->
	<insert id = "insertBoard" parameterType = "co.yedam.vo.BoardVO"><!-- 매개값 타입이 parameter? -->
		insert into board_tbl (board_no, title, content, writer)
		values (board_seq.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<!-- 수정 -->
	<update id="updateBoard" parameterType = "co.yedam.vo.BoardVO">
		update board_tbl
		set title = #{title},
	 	    content = #{content}
		where board_no = #{boardNo} 
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteBoard" parameterType = "co.yedam.vo.BoardVO">
	<!--<delete id="deleteStudent" parameterType = "String">-->
		delete from board_tbl
		where board_no = #{boardNo} 
	</delete>


	<!-- 조회 확인-->
	<select id="selectBoard" parameterType="int" resultType="co.yedam.vo.BoardVO">
		select board_no,
    		   title,
    		   content,
   			   writer,
       		   click_cnt,
       	 	   creation_date
		from board_tbl
		where board_no = #{boardNo}
	</select>

	<select id = "selectMember" resultType = "co.yedam.vo.MemberVO">
		select *
		from member_tbl 
		where user_id = #{id} 
		and   user_pw = #{pw}
	</select>
	
	<select id = "adduser" resultType = "co.yedam.vo.MemberVO">
		insert into member_tbl (user_id, user_pw,user_name)
		values(#{userId},#{userPw},#{userName})
	</select>
	
	<select id="memberList" resultType="co.yedam.vo.MemberVO">
		select *
		from member_tbl
	</select>

	<insert id="insertMemberAjax" parameterType="co.yedam.vo.MemberVO">
	 insert into member_tbl(user_id,user_pw,user_name,responsibility)
	 values(#{userId},#{userPw},#{userName}, #{responsibility})
	</insert>
	
	<select id="selectMemberAjax" resultType="int">
		select count(1)
		from member_tbl
		where user_id = #{id}
	</select>
	 
	<delete id="deluser" parameterType = "co.yedam.vo.BoardVO">
		DELETE 
		from  member_tbl
		where USER_ID = #{id}
	</delete>
	 
	 <update id="inputuser" parameterType = "co.yedam.vo.MemberVO">
	 		update member_tbl
			set USER_PW = #{userPw},
	 	   	    user_name = #{userName}
			where board_no = #{boardNo} 
	 </update>
</mapper>